{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    {% for chatRoom in chatRooms %}
        <li><a href="{{ path('chat_room', {id: chatRoom.id}) }}">{{ chatRoom.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}