{% extends 'base.html.twig' %}

{% block container %}

    <h1>Chat Rooms</h1>
    <ul>
    {% for chatRoom in chatRooms %}
        <li><a href="{{ path('chat_room', {id: chatRoom.id}) }}">{{ chatRoom.name }}</a></li>
    {% endfor %}
    </ul>
    <div>
        <a class="nav-link js-scroll-trigger" href="{{ path('create_room') }}">New room</a>
    </div>
{% endblock %}