<div class="text message" data-created-at="{{ message.createdAt|date('Y-m-d H:i:s') }}">
    <strong>{{ message.user.username }}</strong> <em>{{ message.createdAt|date('Y-m-d H:i') }}</em>
    <p>{{ message.content }}</p>
</div>